body{

    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
.head{

    display: flex;
    background-color: aquamarine;
    height: 300px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.heading{

    font-size: 45px;
    color: white;
    margin-bottom: 0;
   

   
}
.title{

    color: white;
    flex-direction: column;
    font-size: 20px;
}
.navbar{
    background-color: rgb(65, 63, 63);
    display: flex;
   
}
.link{

    display:inline-block;
    padding: 16px 20px;
    
    color: white;
    text-decoration: none;

}
.link:hover{

    background-color: #ddd;
  color: black;
}
.row{
    display: flex;
  
    
}

.side{
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
   
}
.main{
    flex: 70%;
    background-color: white;
   padding: 20px;
}
.fakeimg{

    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
footer{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #f1f1f1;
    font-size: 15px;
    padding: 15px 10px;
    box-sizing: border-box;
    width: 100%;
  

}
@media screen and (max-width :700px) {
    .row, .navbar{
        flex-direction: column;
        flex-wrap: wrap;
    }
}


